.vscode/**
.git/**
.gitignore
*.vsix
.DS_Store
*.log
docs/development/**
assets/screenshots/*.psd
assets/screenshots/*.sketch
*.md
!README.md
!CHANGELOG.md
!LICENSE
src/**
test/**
.eslintrc.json
.prettierrc
tsconfig.json
webpack.config.js
